
{% extends 'to_do/base.html' %}
{% block content %}

<div class="header-bar">
    <div>
        <h1>To - Do List &#9745;</h1>
        
        
    </div>


</div>

<div id="search-add-wrapper" class="search">
<form method="GET" style="margin-top: 20px; display: flex;"></form>
<a id="add-link" href="{% url 'task-create' %}"> Add List &#10010; </a>
</div>

<br>

<div class="task-items-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper">
        {% if task.status == 'YES' %}
            <div class="task-title">
                <div>&#10004;</div>
                <i><s><a href="{% url 'task-edit' task.id %}">{{task}}</a></s></i>
            </div>
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#10008;</a>
            {% elif task.status == 'PL' %}
            <div class="task-title">
                <div>&#10711;</div>
                <a href="{% url 'task-edit' task.id %}">{{task}}</a>
            </div>
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#10008;</a>
        {% elif task.status == 'NOT' %}
            <div class="task-title">
                <div>&#10006;</div>
                <a href="{% url 'task-edit' task.id %}">{{task}}</a>
            </div>
            <a class="delete-link" href="{% url 'task-delete' task.id %}">&#10008;</a>

        {% endif %}

        </div>
        {% empty %}
        <h3 style="margin-left: 15px;">Нет задач</h3>
        {% endfor %}
</div>



{% endblock content %}
